h1 {
	text-align: center;
	font-family: Arial, serif;
	margin-bottom: 30px;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
ul {
	font-family: Arial, serif;
	text-align: center;
	font-size: 18px;
}